@media only screen and (min-width: 1024px){
    header, main, nav, footer{
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header{
        grid-template-columns: 24px auto;
        }
    .hamburger {
        display:none;
    }  
    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    } 
    
    .navigation ul{
        display: flex;
    }
    navigation a{
        border:none;
    }

}


@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: larger;
    }

    .content-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .hero {
    height: 60vh; /* */
  }
  .hero h1 {
    font-size: 2em;
  }
}





/* pc */
@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
    
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; 
    align-items: center;    
  }

  .columna-1, .columna-2 {
    flex-basis: 100%;       
    margin-bottom: 20px;    
    text-align: center;
  }

  .container {
        flex-direction: column;
   }
}

/* PC (ex: min-width: 64rem o 1024px) */
@media only screen and (min-width: 64rem) {
    
    #allplaces {
        grid-template-columns: 1fr 1fr;
    }
    
   
    main {
        max-width: 1400px;
        margin: 0 auto;
    }
} 


