* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}
h1 {
    margin: 1rem 10px;
    color: #0f76a2;
    font-size: 2.5rem;
	  font-weight: 600;
	  padding: 1rem;
	  text-align: center;
	  font-family: Acme, sans-serif;
}
h2 {
	font-size: 1.3rem;
	font-weight: 500;
    color: #ff9849;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	text-align: center;
    font-weight: bold;
	font-family: Acme, sans-serif;
}

h3 {
	font-size: 1.2rem;	
    color: #59595a;
    padding-bottom: 1rem;
    padding-left: 20px;
	text-align: left;
	font-family: Acme, sans-serif;
}

h4 {
	font-size: 1.2rem;	
    color: #0f76a2;
    padding-bottom: 1rem;
	text-align: center;
	font-family: Acme, sans-serif;
}

p {
	
    font-size: 0.6rem;
    color: #555;
    text-align: left;
    padding-left: 20px;
}
.txt {
  
    font-size: 0.6rem;
    color: #d03a3a;
    text-align: left;
    padding-left: 30px;
}

/****HEADER***/
header {
    display: grid;
    grid-template-columns: 80px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
    align-items:end;
    font-size: 1rem;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
header span{
    font-size: 1.2rem;
    color: #304058;
}

/******** Hamburger Navigation********/
.hamburger {
    background: none;
    border: none;
    color: #142f4a;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}

/****************NAVIGATION***********/
.navigation {
  display: none;
}
.navigation.show {
  display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



nav {
    background-color: #0f7cab;
    margin: 0 auto;
    max-width: 800px;
    font-family: sans-serif;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

nav a:hover {
    background-color: #ff9849;
}



.hero {
  background-image: url(../images/index_banner.jpg); 
  background-size:cover; 
  background-position:center; 
  background-repeat: no-repeat; /* No repeat image */
  height: 80vh; /* It occupies 80% of the viewport's height. */
  display: flex; /* Center the content vertically and horizontally */
  flex-direction: column; 
  align-items: center; /* Center Vertically */
  
  justify-content: center;
  text-align: center; /* Align text into of .hero-content */
  color: white; /* Color Text */
  position: relative; /* */
  overflow: hidden; /* To ensure that the contents do not overflow */
}


.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(220, 229, 247, 0.5);  */
  z-index: 1; /* Ensures the overlay is behind the content */
}

.hero-content {
  position: relative; /* Places content above the overlay */
  z-index: 2;
  max-width: 800px; 
  padding: 20px;
}


.hero p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
  
}


.btn {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff; 
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: orange;
  border: 2px solid white;
  color: white;
}

.btn-secondary:hover {
  background-color: white;
  color: #007bff;
}



.weather-icon {
    width: auto;
	max-width: 80px;
	box-shadow: 0 0 30px #777;
	height: 80px;
       
}


.content-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem; /* space bettwen cards */
    padding: 1.5rem;
    max-width: 1200px; 
    margin: 1.5rem auto; /* center grid */
}
.about-me-card {
    display: flex;
    flex-direction: column; /* title and content */
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-height: 400px; 
   
    
}

.about-me-card h2 {
    background-color: rgb(15, 124, 171); /* Cards Titles Backgroud */
    color: #fff;
    padding: 0.8rem 1rem;
    margin: -1.5rem -1.5rem 1.5rem -1.5rem; /* Expand Title Background */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-size: 1rem;
}

/* Content "About Me" Card (Grid image and Text) */
.about-me-card .card-content {
    display: grid;
    grid-template-columns: 1fr; /* Text Bigger than image */
    gap: 1rem;
}

.about-me-card .text-content {
   text-align: left;
}

.about-me-card .text-content p {
    margin-bottom: 1rem;
}


.about-me-card .text-content h3 {
    color: var(--text-color); /* H3 into card */
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2em;
}

.about-me-card .image-content {
    text-align: center;
}


.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #2f4964;
    text-align: center;
}

.menu button {
    padding: 0.5rem 1rem;
    font-weight: 700;
    background-color: #ffffff;
}
/***Directory***/

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr; /* móvil: 1 columna */
}

.grid section {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

/* Logos  50%  */
.grid section img {
  width: 50%;          /* 50% width container */
  max-height: 80px;    
  object-fit: contain; /* prevents deformation */
  margin: 0 auto;
  display: block;
}




section {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #eee;
    border: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

section img {
    width: auto;
    max-width: 200px;
    height: auto;
    margin-bottom: 0.5rem;
}

section h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #30405b;
    text-align: center;
    margin: 0.5rem 0;
}

section p {
    font-size: 0.9rem;
    color: #555;
    margin: 0.3rem 0;
    text-align: center;
}

section a {
    color: #0f7cab;
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}

/* ====== LIST VIEW (Table List style) ====== */
.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr; /* name | adress | phone | link */
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  background-color: #f5fafa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Nombre */
.list section h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #30405b;
  margin: 0;
  text-align: left;
}

/* Adress and phone */
.list section p {
  margin: 0;
  text-align: left;
  font-size: 0.9rem;
  color: #333;
}

/* Link */
.list section a {
  color: #0f7cab;
  text-decoration: none;
  font-weight: 500;
  
}

.list section a:hover {
  text-decoration: underline;
}

/* Logo off*/
.list section img {
  display: none;
}




/***join****/

 body {
      font-family: Roboto, sans-serif;
      margin: 20px;
    }



    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    /* Form styling */
    form {
      flex: 1 1 400px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 12px;
      background: #f9f9f9;
    }

    label {
      display: block;
      margin-bottom: 15px;
      color: #5d5d5d;
      
    }

    input, textarea, select {
      width: 100%;
      padding: 8px;
      margin-top: 4px;
      border: 1px solid #aaa;
      border-radius: 6px;
    }

    textarea {
      min-height: 100px;
    }

    /* Membership cards to the right */
    .membership-cards {
      flex: 1 1 300px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .card {
      padding: 15px;
      border: 1px solid #bbb;
      border-radius: 10px;
      background: #c6e2d9;
      text-align: center;
    }

    .card h3 {
      margin-top: 0;
    }

    .card button {
      margin-top: 10px;
      background: #ff9849;
      color: white;
      border: none;
      padding: 8px 14px;
      border-radius: 6px;
      cursor: pointer;
    }
    .button {
      margin-top: 10px;
      background: #ff9849;
      color: white;
      border: none;
      padding: 8px 14px;
      border-radius: 6px;
      cursor: pointer;
    }


    /* Dialog styles */
    dialog {
      border:#0f76a2;
      border-radius: 10px;
      padding: 20px;
      max-width: 400px;
      
      box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    }

    dialog::backdrop {
      background: rgba(0,0,0,0.6);
    }

    .close-btn {
      margin: 20px;
      background: #ff9849;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
    }

    /**** thankyou**/
    .message-box {
      flex: 1 1 400px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 12px;
      background: #f9f9f9;
    }

    .summary-box {
      flex: 1 1 300px;
      padding: 20px;
      border: 1px solid #bbb;
      border-radius: 12px;
      background: #c6e2d9;
    }

    .summary-box h2 {
      margin-top: 0;
    }

    .summary-box p {
      margin: 8px 0;
    }

    strong {
      color: #0f76a2;
    }

/*****Discover***/

#allplaces {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem; 
    margin: 1rem auto;
    padding: 0 8px;
}


.place-card {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 10px; 
    

   
    grid-template-areas:
        "photograph"
        "name"
        "description"
        "cost"
        "location";
}


.place-card h2 {
    margin: 1rem 10px 0.5rem;
    grid-area: name;
}

.place-card img {
    width: 100%;
    height: auto;
    grid-area: photograph;
    
}

.place-card p {
    font-style: normal; 
    font-size: 0.8rem;
    color: lab(45.71% 0.39 0.13);
    text-align: left;
    padding-left: 10px;
}

.place-card p.cost {
    grid-area: cost;
}

.place-card address {
    grid-area: location;
    font-style: normal; 
    font-size: 0.8rem;
    color: #d03a3a;
    text-align: left;
    padding-left: 10px;
}

/*********Footer ******/
.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  padding: 5px;
  font-size: 0.8rem;
  
}

.columna-1, .columna-2, .columna-3 {
  flex-basis: 30%; 
}

footer{
    background-color:#eee;
    padding: 1rem 10px;
    text-align: center;
    font-size: 0.7rem;

}


.social {
  display: flex;
  gap: 15px; 
  align-items: center;
  justify-content: center; 
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img{
    width: 22px;
    height: 22px;

}
.social a:hover{
    background-color:#ddd;
}


/* --- Animate Membership cards --- */

/* 1. Define Fade-In */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* start 20px below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* finish normal position */
    }
}

/* 2. Aply all cards */
.membership-cards .card {
    opacity: 0; /* starting invisibles */
    animation: fadeIn 0.8s ease-out forwards; /* Aply animation */
}

/* 3. Aply delay  diferent to every card */
/* Card Non Profit */
.membership-cards .card:nth-child(2) { 
    animation-delay: 0.1s; 
}

/* card Bronze */
.membership-cards .card:nth-child(3) {
    animation-delay: 0.3s;
}

/* card Silver */
.membership-cards .card:nth-child(4) {
    animation-delay: 0.5s;
}

/* card Gold */
.membership-cards .card:nth-child(5) {
    animation-delay: 0.7s;
}


