* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}
h1 {
    margin: 1rem 10px;
    color: #30405b;
    font-size: 2rem;
	font-weight: 600;
	padding: 1rem;
	text-align: center;
	font-family: Acme, sans-serif;
}
h2 {
	font-size: 1.5rem;
	font-weight: 600;
    color: #30405b;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	text-align: center;
	font-family: Acme, sans-serif;
}
h3 {
	font-size: 0.8rem;	
    color: #858789;
	padding: 1rem;	
	text-align: left;
	font-family: Acme, sans-serif;
}

p {
	
    font-size: 0.8rem;
    color: #555;
    text-align: left;
}


/****HEADER***/
header {
    display: grid;
    grid-template-columns: 80px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
    align-items:end;
    font-size: 1rem;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
header span{
    font-size: 1.2rem;
    color: #304058;
}

/******** Hamburger Navigation********/
.hamburger {
    background: none;
    border: none;
    color: #142f4a;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}

/****************NAVIGATION***********/
.navigation {
  display: none;
}
.navigation.show {
  display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



nav {
    background-color: rgb(15, 124, 171);
    margin: 0 auto;
    max-width: 800px;
    font-family: sans-serif;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

nav a:hover {
    background-color: #ff9849;
}


.weather-icon {
    width: auto;
	max-width: 80px;
	box-shadow: 0 0 30px #777;
	height: 80px;
       
}


.content-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem; /* space bettwen cards */
    padding: 1.5rem;
    max-width: 1200px; 
    margin: 1.5rem auto; /* center grid */
}
.about-me-card {
    display: flex;
    flex-direction: column; /* title and content */
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-height: 400px; 
   
    
}

.about-me-card h2 {
    background-color: rgb(15, 124, 171); /* Cards Titles Backgroud */
    color: #fff;
    padding: 0.8rem 1rem;
    margin: -1.5rem -1.5rem 1.5rem -1.5rem; /* Expand Title Background */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-size: 1rem;
}

/* Content "About Me" Card (Grid image and Text) */
.about-me-card .card-content {
    display: grid;
    grid-template-columns: 1fr; /* Text Bigger than image */
    gap: 1rem;
}

.about-me-card .text-content {
   text-align: left;
}

.about-me-card .text-content p {
    margin-bottom: 1rem;
}


.about-me-card .text-content h3 {
    color: var(--text-color); /* H3 into card */
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2em;
}

.about-me-card .image-content {
    text-align: center;
}

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: #2f4964;
	text-align: center;

	button {
		padding: 0.5rem 1rem;
		font-weight: 700;
        background-color: #ffffff;
	}
}

/****/



/*********Footer ******/
.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  padding: 5px;
  font-size: 0.9rem;
 

 
}

.columna-1, .columna-2, .columna-3 {
  flex-basis: 30%; 
}

footer{
    background-color:#eee;
    padding: 1rem 10px;
    text-align: center;
    font-size: 0.7rem;

}


.social {
  display: flex;
  gap: 15px; 
  align-items: center;
  justify-content: center; 
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img{
    width: 22px;
    height: 22px;

}
.social a:hover{
    background-color:#ddd;
}

