@media only screen and (min-width: 38rem){
    header, main, nav, footer{
        max-width: 1000px;
        margin: 0 auto;
    }
    
    header{
        grid-template-columns: 24px auto;
        }
    .hamburger {
        display:none;
    }  
    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    } 
    
    .navigation ul{
        display: flex;
    }
    navigation a{
        border:none;
    }

}


@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: larger;
    }

    .content-grid {
        grid-template-columns: 2fr 1fr;
    }
}

/* Tablets */
@media (min-width: 768px) {
    .course-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* pc */
@media (min-width: 1024px) {
    .course-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}